.entry .body{
    margin: 0 0 1em;
}

@media only screen and (max-width: 768px) {
    .item-title {
        margin-top: 10px !important;
    }
}
.timeline--wrapper {
    padding: 12px;
    width: calc(100% - -264px);
}
.timeline {
    margin: 50px auto;
    max-width: 900px;
    padding: 15px 0 0;
    position: relative;
    width: 100%;
}